{% extends 'base.html.twig' %}
{% block title %}Authors {% endblock %}


{% block body %}

	<div class="content-wrapper">
		<h1>Authors list</h1>
		<a class="btn btn-primary" href="{{ path('author_create')}}">Create New Author</a>
		<p>&nbsp;</p>
		<div>
			{{ form_start(form) }}
			{{ form_end(form) }}
		</div>



		{% if authors %}
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Books</th>
						<th colspan="2">&nbsp;</th>
					</tr>
				</thead>
				<tbody class="table-group-divider">
				{% for author in authors %}
					<tr>
						<th>{{ author.id }}</th>
						<td>{{ author.name }}</td>
						<td>
							{% for book in author.books %}
								{{ book.name }}<br>
							{% endfor %}
						</td>
						<td>
							<a href="{{ path('author_update', {id: author.id}) }}">
								<i class="fa-solid fa-pen-to-square"></i>
							</a>

						</td>
						<td>
							<a href="{{ path('author_delete', {id: author.id}) }}">
								<i class="fa-solid fa-trash-can"></i>
							</a>

						</td>
					</tr>				
				{% endfor %}
				</tbody>
			</table>
		{% endif %}
	
	</div>

{% endblock %}

