<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
	<div class="container">
		<a href="/" class="navbar-brand">TC365 Books</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
			<span class="navbar-toggle-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="mobile-nav">
                <ul class="navbar-nav ml-auto">

				<li class="nav-item">
					<a href="{{ path('homepage') }}" class="nav-link">Home</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('book_list') }}" class="nav-link">Books</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('author_list') }}" class="nav-link">Authors</a>
				</li>
				<li class="nav-item">
                    <a href="{{ path('queries') }}" class="nav-link">Queries</a>
				</li>

				<li class="nav-item" style="margin-left:calc(100vw - 850px);">
					<a href="{{ absolute_url('phpmyadmin') }}" target="_blank" class="nav-link">phpMyAdmin</a>
				</li>

				<li class="nav-item">
					<a href="{{ absolute_url('admin/dashboard') }}" class="nav-link" target="_blank">SonataAdminBundle</a>

				</li>
			</ul>
		</div>
	</div>
</nav>
