html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/InterLight.woff2") format('woff2');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/InterRegular.woff2") format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/InterMedium.woff2") format('woff2');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/InterSemiBold.woff2") format('woff2');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url("../fonts/InterBold.woff2") format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

body {
    background-image: url("../img/hero_cover.jpg");     
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: inherit;
    background-color: #946c2ab5;
}

:root {
    --color-light: #fff;
    --color-grey: #838383;
    --color-dark: #1d1d1f;
    --content-container-bg: #c5b788b8;
    --offset: 190px;
}

.form-control__inline-edit{
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: #7d5a05b5;
    border-radius: 0.375 rem;
}

.table{
    background-color: transparent;
    margin-bottom: 20px;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    padding: 39px 0;
    width: 100%;
}

.container {
    max-width: 95% !important;
    width: 90%;
    padding: 0 15px;
    margin: 0 auto;
}

.logo {
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    color: var(--color-dark);
}

.hero {
    padding-top: calc(80px + 110px);
    padding-bottom: 40px;
    height: 100vh;
    min-height: 900px;
    background-image: url("../img/hero_cover.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__title {
    margin: 0;
    margin-bottom: 30px;
    max-width: 936px;
    font-weight: 600;
    font-size: 96px;
    line-height: 116px;
    color: var(--color-dark);
}

.btn {
    min-width: 180px;
    margin-top: 20px;
    text-align: center;
    transition: color 0.3s ease-in-out,
        background-color 0.3s ease-in-out;
}

.form-control {
    background-color: #faebd7a8;
}

.form-control__inline-edit {
    background-color: transparent !important;
    border-color: transparent;
    border-bottom-color: #7d5a05b5;
    border-radius: 0.375 rem !important;
}

.form-control__inline-edit:focus {
    background-color: transparent;
    border-color: transparent;
}

.form-control:focus {
    background-color: #fffcf8a8;
}

.form-select:focus {
    background-color: #fffcf8a8;
}

.form-select {
    background-color: #faebd7a8;
}

input[type=file]::file-selector-button {
    border: 2px solid #ff9f21a8;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #ffd49ca8;
    transition: 0.3s;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
}

.nav-link{
    cursor: pointer;
}

.content-wrapper {
    background-color: var(--content-container-bg);
    border-radius: 5px;
    padding: 10px 15px;
    margin: auto;
    width: 100%;
    font-weight: 400;
}

.action-wrapper {
    background-color: var(--content-container-bg);
    border-radius: 5px;
    padding: 10px 15px;
    margin: auto;
    margin-top: 80px;
    max-width: 800px;
    width: 95%;
    font-weight: 400;
}
