@media (max-width: 767.99px) {

    .hero__title {
        font-size: 70px;
        line-height: 84px;
    }

    .grid {
        grid-template-columns: auto;
        row-gap: 40px;
    }

    :root {
        --offset: 60px;
    }
}

@media (max-width: 575.99px) {
    .hero__title {
        font-size: 40px;
        line-height: 54px;
    }

    .hero {
        height: auto;
        min-height: auto;
        padding-top: 200px;
    }
}