{% extends 'base.html.twig' %}

{% block book_javascript %}

	<script src="{{ asset('scripts/books.js') }}" type="text/javascript"></script>

	{% endblock %}

{% block title %}Books {% endblock %}


{% block body %}

<div class="content-wrapper">
    <h1>Books list</h1>
    <a class="btn btn-primary" href="{{ path('book_create')}}">Create New Book</a>
    <p>&nbsp;</p>
	<div>
		{{ form_start(form) }}
		{{ form_end(form) }}
	</div>

	{% if books %}
		
			<table class="table">
				<thead>
					<tr>
						<th style="width: 10px;">#</th>
						<th style="width: 350px;">Title</th>
						<th style="width: 125px;">Total Authors</th>
						<th style="width: 160px;">Author</th>
						<th>Description</th>
						<th style="width: 60px;">Cover</th>
						<th style="width: 120px;">Year</th>
						<th style="width: 30px;" colspan="3">&nbsp;</th>
					</tr>
				</thead>
				<tbody class="table-group-divider">
					{% for book in books %}
					
						<tr>
							<th>{{ book.id }}</th>
							<td>
								<input data-parent="{{ book.id }}" data-name="title" class="form-control form-control__inline-edit" value="{{ book.name }}">
							</td>
							<td>{{ book.totalAuthors }}</td>


							<td>
								{% for author in book.authors %}
									{{ author.name }}
								{% endfor %}
							</td>

							<td>

								<textarea 
									data-parent="{{ book.id }}"
									data-name="description"
									class="form-control form-control__inline-edit" 
									maxlength="255"
									>{{ book.description }}</textarea>

							</td>

							<td>
								<img width="50px" src="{{image_dir ~ book.image}}" alt="">
							</td>

							<td>
								<input data-parent="{{ book.id }}" data-name="year" class="form-control form-control__inline-edit" value="{{ book.year }}">
							</td>

							<td>
								<i style="cursor: pointer;" data-id="{{ book.id }}" class="fa-solid fa-floppy-disk"></i>
							</td>
							
							<td>
								<a href="{{ path('book_update', {id: book.id}) }}">
									<i class="fa-solid fa-pen-to-square"></i>
								</a>
							</td>

							<td>
								<a href="{{ path('book_delete', {id: book.id}) }}">
									<i class="fa-solid fa-trash-can"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		
	{% endif %}



</div>

{% endblock %}
