{% extends 'base.html.twig' %}
{% block title %}Create {{ class_object }}
{% endblock %}
{% block body %}

<div class="action-wrapper">
	<h4>{{ class_object }}</h4>
	{{ form_start(form) }}
	{{ form_end(form) }}
</div>

{% endblock %}
