{% extends 'base.html.twig' %}
{% block title %}Delete {{ class_object }}
{% endblock %}
{% block body %}
<div class="action-wrapper">
	{{ form_start(form) }}
	<h3>
		{{ class_object }}
	</h3>
	{{ form_widget(form.delete) }}
	{{ form_widget(form.cancel) }}
	{{ form_end(form) }}
</div>

{% endblock %}
