{% extends 'base.html.twig' %}
{% block title%}Queries{% endblock %}
{% block body %}
<div class="content-wrapper">
	<h1>Native SQL - Author have more than one book</h1>
	<table class="table">
		<tr>
			<td>Id</td>
			<td>Name</td>
			<td>Count</td>
		</tr>
		{% for entry in sql %}
			<tr>
				<td>{{ entry.id }}</td>
				<td>{{ entry.name }}</td>
				<td>{{ entry.author_count }}</td>
			</tr>
		{% endfor %}
	</table>
	<br>
	<h1>Doctrine ORM - Author have more than 2 books</h1>
	<table class="table">
		<tr>
			<td>Id</td>
			<td>Name</td>
			<td>Count</td>
		</tr>
		{% for entry in doctrine %}
			<tr>
				<td>{{ entry.id }}</td>
				<td>{{ entry.name }}</td>
				<td>{{ entry.author_count }}</td>
			</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}
