<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block stylesheets %}
            
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
            <link type="text/css" rel="stylesheet" href="{{ asset('css/normalize.css') }}">
            <link type="text/css" rel="stylesheet" href="{{ asset('css/main.css') }}">
            <link type="text/css" rel="stylesheet" href="{{ asset('css/media.css') }}">

        {% endblock %}

        {% block javascripts %}
            
            <script src="https://kit.fontawesome.com/40262237dd.js" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script language="javascript" src="https://code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script> 

        {% endblock %}

        <title>
            {% block title %}{% endblock %}
        </title>

    </head>
    <body>
        {{ include('inc/navbar.html.twig') }}
        <div class="container"> 
            {% block body %}{% endblock %}
	    </div>	
    </body>
    {% block book_javascript %}{% endblock %}
</html>
